.error-notification {
    position:absolute;
    margin-top:10px;
    background: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    align-items: center;
  }
  button {
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #721c24;
    margin-left: 10px;
  }