<p @bounceIn class="setting_toggle" (click)="toggle_setting()">
    <i class="fas fa-sliders-h fa-xl"></i>
</p>
<p @bounceIn class="histories_toggle" (click)="toggle_histories()">
    <i *ngIf="!isHistoriesOpen()" class="far fa-comments fa-xl"></i>
    <i *ngIf="isHistoriesOpen()" class="fa-solid fa-comments fa-xl"></i>
</p>

<div class="layout">
    <app-chat-list @dropTop *ngIf="isHistoriesOpen()" class="histories-container"></app-chat-list>
    <div class="chat-container">
        <div class="chat-history" #scrollContainer id="response-box">
            <div (mouseover)="mouseOverMessage($event, entry.id)" (mouseleave)="mouseLeaveMessage($event, entry.id)" class="exchange" *ngFor="let entry of getHistory()">
                <div *ngIf="entry.question" class="message user">
                    <p class="question">{{ entry.question }}</p>        
                </div>
                <div class="answer" *ngIf="entry.answer || answer" class="message ia"><p>{{ entry.answer ? entry.answer : answer }}</p></div>
                <p class="message-edit">{{getEditText(entry.id)}}</p>
            </div>
        </div>
        <form @dropBottom class="input-group" action="/" method="post" enctype="multipart/form-data">
            <input [(ngModel)]="question" type="text" id="question-input" name="question" placeholder="Pose une question..." required>
            <input type="file" id="file-input" (change)="onFileSelected($event)" accept="*" style="display: none;">
    
            <label for="file-input" class="file-upload-btn" title="Envoyer un fichier">
                <i class="fas fa-paperclip fa-xl"></i>
            </label>
            <label class="file-name" *ngIf="getFileName()" @collapseHorizontal>{{ getFileName() }}</label>

        
            <label @rotateInRight class="web_search_on" *ngIf="do_websearch" (click)="toggleWebSearch()" title="Recherche web activée">
                <i class="fas fa-globe-americas fa-xl"></i>
            </label>
            <label @rotateInLeft class="web_search_off" *ngIf="!do_websearch" (click)="toggleWebSearch()" title="Recherche web désactivée">
                <i class="fas fa-globe-americas fa-xl"></i>
            </label>
        
            <button @collapseHorizontal class="send_question" (click)="sendQuestion()" *ngIf="!isWaiting()">
                <i class="fas fa-paper-plane fa-xl"></i>
            </button>
        </form>
    </div>
    <app-settings @dropBottom class="settings-container" *ngIf="isSettingOpen()"></app-settings>
</div>
